.treeContainer {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 10px;
  /* background-color: white; */
  margin: 0;
  margin-right: 5px;
  padding: 0;
  max-height: 220px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  overflow-y: auto;
}
div.gmnoprint {
  padding-left: 19.5em;
  padding-top: 1em;
}
form {
  z-index: 13;
}
.TextField {
  z-index: 15;
}
.Button {
  z-index: 16;
}

i.icon-red {
  color: red;
}
i.icon-blue {
  color: blue;
}
i.icon-green {
  color: green;
}
i.icon-yellow {
  color: yellow;
}
i.icon-orange {
  color: orange;
}
i.icon-purple {
  color: purple;
}
i.icon-black {
  color: black;
}
i.icon-grey {
  color: gray;
}
i.icon-cancel {
  color: red;
  width: 50px;
}

.fileUploader {
  border: 1px solid #e1e1e1;
}

li.rct-node {
  max-width: 200px;
  min-width: 200px;
}

div.react-checkbox-tree {
  overflow-y: auto;
}

span .rct-node-icon {
  display: inline-block;
}

.autocomplete {
  top: 1em;
  left: 16em;
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 250px;
  height: 32px;
  padding: 0 12px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  outline: none;
  text-overflow: ellipses;
  position: absolute;
  margin: auto;
}

@media screen and (max-width: 550px) {
  .autocomplete {
    width: 145px;
  }
}
